/*
--primary-color: #1A1A2E   ;
--secondary-color: #7792ab ;
--accent1-color: #B22222;
--accent2-color: #2F2F2F;
*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #1A1A2E;
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}

body {
    background-color: #7792ab;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #2F2F2F ;
    opacity: 0.9;
}

nav a:hover {
    background-color: #1A1A2E;
    color: #7792ab;
}

.book, .join {
    background-color: #B22222;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    display: inline-block;
}

.book:hover, .join:hover {
    background-color: #2F2F2F;
    color: #EAEAEA;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 0;
    justify-items: center;
}

h2 {
    margin: 0;
}

.msg {
    background-color: #B22222;
    padding: 35px;
    width: 600px;
    height: fit-content;
    line-height: 0.5em;
    border: 5px solid white;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    align-self: center;
    justify-self: center;
    margin: 25% 0 50px 100%;
    z-index: 1;
}

.home-title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    width: 100%;
    text-align: center;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height: auto;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    margin-right: 300px;
    width: 100%;
    grid-column: 3 / 8;
    grid-row: 2 / 6;
    box-shadow: 5px 5px 10px #6f7364;
    z-index: -1;
    border: 10px solid #d9c2a3;
    position: relative;
}

.rivers-card {
    grid-column: 2 / 4;
    grid-row: 1;
}

.camping-card {
    grid-column: 5 / 7;
    grid-row: 1;
}

.rapids-card {
    grid-column: 8 / 10;
    grid-row: 1;
}

.msg h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #7792ab;
}

footer p {
    font-size: 1.5em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 30px auto;
        width: 95%;
        max-width: 400px;
        text-align: center;
    }
    .card-img {
        width: 100%;
        height: auto;
        max-width: 350px;
        margin: 0 auto;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 95%;
        max-width: 600px;
        display: block;
        margin: 2em auto;
    }
    footer {
        margin-top: 25px;
    }
}

