
body {
    margin: 5em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8eced;
    font-family: Arial, sans-serif;
}

.main_card {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 60em; 
    border: 7px solid black;
    border-radius: 10%;
    background-color: black;
}

.christus {
    width: 100%;
    height: auto;
    border-radius: 10%;;
}

.main_card h2 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.grid1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.fp {
    max-height: 120px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 7px solid white;
}

.fp:hover, .quorum:hover {
    transform: scale(1.2)
}

.main_card .h2-12 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.grid2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 50%;
    justify-items: center;
}

.quorum {
    max-height: 60px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
}

